.hero-section{
    /* background-color: rgb(126, 164, 196); */
    height: fit-content;
    max-width: 860px;
    margin-top: 50.6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 5px; */
    flex-wrap: wrap;
    padding: 0;
}
.head-1{
    /* background-color: darkgray; */
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
}

.head-2{
    /* background-color: chartreuse; */
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;

    /* margin-top: 300.16px; */
    /* padding: 80px 0px 80px 0px; */
    /* justify-content: flex-start; */
}
.transform{
    font-weight: 500;
    font-size: larger;
    background: linear-gradient(90deg, #F87516 0%, #5E11FF 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: 0;
    padding: 0;
    z-index: 1;
    position: relative;
    /* background-image:  linear-gradient(90deg, #F87516 0%, #5E11FF 100%); */
}
.transform:last-child{
    margin-bottom: 3px;
}
.withmotion{
    margin: 0;
    padding: 1px;
    z-index: 1;
    position: relative;
}
.child-1{
    /* background-color: aqua; */
    width: 25%;
    padding: 50px 0px 80px 0px;
    margin-left: 20px;
    margin-right: 20px;
    color: #FFFFFF;
}
.child-2{
    /* background-color: chocolate; */
    width: 54.333%;
    padding: 50px 0px 80px 0px;
    color: #FFFFFF;
    margin-right: 20px;
}
.attract{
    color: #EEE5FF;
    margin: 0px 5px 15px 0px;
    font-family: "Sora", Sans-serif;
    font-size: 45px;
    font-weight: 500;
    line-height: 60px;
    z-index: 1;
    position: relative;
    
}
.MAE{
    background: linear-gradient(90deg, #F87516 0%, #5E11FF 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.description{
    color: #EEE5FFBD;
    font-family: "Outfit", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6em;
    margin: 0px 90px 0px 0px;
    z-index: 1;
    position: relative;

}
.head-3{
    /* background-color: blueviolet; */
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    color: #FFFFFF;
    
}
.child-3{
    /* padding: 5px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
    width: 100%;
    flex-wrap: wrap;
    
}
.text{
    /* background-color: lightsalmon; */
    margin-bottom: 12px;
    color: #EEE5FF;
    font-family: "Outfit", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    z-index: 1;
    position: relative;

    
}
.logos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* border: 2px solid red; */
    padding: 30px 0px 20px 0px;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}
.l{
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* flex-wrap: wrap; */
}

.star{
    width: fit-content;
    z-index: 1;
    position: relative;
    /* border: 2px solid orange; */
}
.h-3-text{
    color: #EEE5FF;
    margin: 0px 20px 10px 0px;
    font-family: "Sora", Sans-serif;
    font-size: 30px;
    font-weight: 530;
    line-height: 40px;
    z-index: 1;
    position: relative;
    
}
.para{
    color: #EEE5FFBD;
    font-family: "Outfit", Sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    z-index: 1;
    position: relative;
    margin: 5px 120px 20px 0px;
}
.btn-2{
    font-family: "Sora", Sans-serif;
    font-size: 12px;
    /* font-weight: 1; */
    background-color: transparent;
    background-image: linear-gradient(90deg, #5E11FF 30%, #F87516 100%);
    border-radius: 10px;
    padding: 12px 26px 12px 20px;
    border: 0;
    color: rgb(218, 212, 212);
    z-index: 1;
    position: relative;
    font-family: "Sora", Sans-serif;
}
.head-4{
    /* background-color: rgb(94, 53, 115); */
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 0; */
    /* border: 1px solid red; */
}
.c-1{
    /* background-color: aqua; */
    width: 75%;
    padding: 50px 0px 80px 0px;
    color: #FFFFFF;
}
.c-2{
    /* background-color: chocolate; */
    width: 25%;
    height: fixed;
    display: flex;
    flex-wrap: wrap;
    /* padding-right: 1px; */
}

.btn{
    font-family: "Outfit", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    fill: #0D051F;
    color: #0D051F;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 25px 10px 25px;
    font-size: 1rem;
    margin-right: 20px;
    z-index: 1;
    position: relative;
}
.btn:hover{
    background-color: transparent;
    color: #ffffff;
    transition: 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, transform var(--e-transform-transition-duration, 0.4s);
cursor: pointer;
    
}
.btn-2:hover{
    cursor: pointer;
}

@media (max-width: 900px) {
    .head-4 {
      /* padding: 20px; */
      width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /* text-align: center; */
    }
    .c-1{
        width: 100%;
    }
    .c-2{
        width: 30%;
    }
    .btn{
      
        /* padding: 10px 25px 10px 25px; */
        margin-right: 20px;
    }
  }
  @media (max-width: 844px) {
    .btn{
      
        /* padding: 10px 25px 10px 25px; */
        margin-right: 40px;
    }
  }
  @media (max-width: 513px) {
    .btn{
      
        visibility: hidden;
    }
    .head-2{
       
        width: 100%;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        /* margin-left: 20px; */
        /* margin-right: 20px; */
    }
    .child-1{
        width: 25%;
        padding: 40px 0 2px 0;
        /* margin-left: 0px; */
        margin-right: 100px;
        color: #FFFFFF;
    }
    .child-2{
        /* background-color: chocolate; */
        width: 90%;
        padding: 30px 30px 80px 0px;
        color: #FFFFFF;
        margin-right: 20px;
    }
  }