.Sponsors{
    /* background-color: rgb(126, 164, 196); */
    height: fit-content;
    width: 820px;
    flex-wrap: wrap;
    padding: 0;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF10;
    padding: 34px 0px 34px 0px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #0D061F 0%, #251E35 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    /* border: 1px solid red; */
    border-radius: 10px;
}
.s-1{
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    text-align: center;
    width: 37%;
    /* border: 2px solid green; */
}
.pic{
    padding-top: 10px;
    width: 300px;
}
.s-text1{
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: x-large;
}
.s-text2{
    margin: 0;
    color: rgb(165, 165, 165);
    font-size: small;
}